/*
 * MetaSV API Spec
 * API definition for MetaSV provided apis
 *
 * The version of the OpenAPI document: 2.1.1
 * Contact: heqiming@metasv.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.metasv.client.openapi.api;

import com.metasv.client.openapi.ApiCallback;
import com.metasv.client.openapi.ApiClient;
import com.metasv.client.openapi.ApiException;
import com.metasv.client.openapi.ApiResponse;
import com.metasv.client.openapi.Configuration;
import com.metasv.client.openapi.Pair;
import com.metasv.client.openapi.ProgressRequestBody;
import com.metasv.client.openapi.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.metasv.client.openapi.model.BlockHeader;
import com.metasv.client.openapi.model.BlockchainInfo;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class BlockApi {
    private ApiClient localVarApiClient;

    public BlockApi() {
        this(Configuration.getDefaultApiClient());
    }

    public BlockApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for blockBlockIdGet
     * @param blockId The block id, height or hash acceptable. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> get block info success </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> block info not found </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call blockBlockIdGetCall(String blockId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/block/{blockId}"
            .replaceAll("\\{" + "blockId" + "\\}", localVarApiClient.escapeString(blockId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "bearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call blockBlockIdGetValidateBeforeCall(String blockId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'blockId' is set
        if (blockId == null) {
            throw new ApiException("Missing the required parameter 'blockId' when calling blockBlockIdGet(Async)");
        }
        

        okhttp3.Call localVarCall = blockBlockIdGetCall(blockId, _callback);
        return localVarCall;

    }

    /**
     * Get block request by height or hash
     * 
     * @param blockId The block id, height or hash acceptable. (required)
     * @return BlockHeader
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> get block info success </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> block info not found </td><td>  -  </td></tr>
     </table>
     */
    public BlockHeader blockBlockIdGet(String blockId) throws ApiException {
        ApiResponse<BlockHeader> localVarResp = blockBlockIdGetWithHttpInfo(blockId);
        return localVarResp.getData();
    }

    /**
     * Get block request by height or hash
     * 
     * @param blockId The block id, height or hash acceptable. (required)
     * @return ApiResponse&lt;BlockHeader&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> get block info success </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> block info not found </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<BlockHeader> blockBlockIdGetWithHttpInfo(String blockId) throws ApiException {
        okhttp3.Call localVarCall = blockBlockIdGetValidateBeforeCall(blockId, null);
        Type localVarReturnType = new TypeToken<BlockHeader>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get block request by height or hash (asynchronously)
     * 
     * @param blockId The block id, height or hash acceptable. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> get block info success </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> block info not found </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call blockBlockIdGetAsync(String blockId, final ApiCallback<BlockHeader> _callback) throws ApiException {

        okhttp3.Call localVarCall = blockBlockIdGetValidateBeforeCall(blockId, _callback);
        Type localVarReturnType = new TypeToken<BlockHeader>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for blockGet
     * @param last paging flag, height of last item in last page (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> successfully get lists </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call blockGetCall(Integer last, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/block";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (last != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("last", last));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "bearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call blockGetValidateBeforeCall(Integer last, final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = blockGetCall(last, _callback);
        return localVarCall;

    }

    /**
     * Get recent block list by paging. 30 items per page.
     * 
     * @param last paging flag, height of last item in last page (optional)
     * @return List&lt;BlockHeader&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> successfully get lists </td><td>  -  </td></tr>
     </table>
     */
    public List<BlockHeader> blockGet(Integer last) throws ApiException {
        ApiResponse<List<BlockHeader>> localVarResp = blockGetWithHttpInfo(last);
        return localVarResp.getData();
    }

    /**
     * Get recent block list by paging. 30 items per page.
     * 
     * @param last paging flag, height of last item in last page (optional)
     * @return ApiResponse&lt;List&lt;BlockHeader&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> successfully get lists </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<BlockHeader>> blockGetWithHttpInfo(Integer last) throws ApiException {
        okhttp3.Call localVarCall = blockGetValidateBeforeCall(last, null);
        Type localVarReturnType = new TypeToken<List<BlockHeader>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get recent block list by paging. 30 items per page. (asynchronously)
     * 
     * @param last paging flag, height of last item in last page (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> successfully get lists </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call blockGetAsync(Integer last, final ApiCallback<List<BlockHeader>> _callback) throws ApiException {

        okhttp3.Call localVarCall = blockGetValidateBeforeCall(last, _callback);
        Type localVarReturnType = new TypeToken<List<BlockHeader>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for blockInfoGet
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get blockchain info success. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call blockInfoGetCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/block/info";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "bearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call blockInfoGetValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = blockInfoGetCall(_callback);
        return localVarCall;

    }

    /**
     * Get current blockchain info from full node.
     * 
     * @return BlockchainInfo
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get blockchain info success. </td><td>  -  </td></tr>
     </table>
     */
    public BlockchainInfo blockInfoGet() throws ApiException {
        ApiResponse<BlockchainInfo> localVarResp = blockInfoGetWithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * Get current blockchain info from full node.
     * 
     * @return ApiResponse&lt;BlockchainInfo&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get blockchain info success. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<BlockchainInfo> blockInfoGetWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = blockInfoGetValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<BlockchainInfo>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get current blockchain info from full node. (asynchronously)
     * 
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get blockchain info success. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call blockInfoGetAsync(final ApiCallback<BlockchainInfo> _callback) throws ApiException {

        okhttp3.Call localVarCall = blockInfoGetValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<BlockchainInfo>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
