/*
 * MetaSV API Spec
 * API definition for MetaSV provided apis
 *
 * The version of the OpenAPI document: 2.1.4
 * Contact: heqiming@metasv.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.metasv.client.openapi.api;

import com.metasv.client.openapi.ApiCallback;
import com.metasv.client.openapi.ApiClient;
import com.metasv.client.openapi.ApiException;
import com.metasv.client.openapi.ApiResponse;
import com.metasv.client.openapi.Configuration;
import com.metasv.client.openapi.Pair;
import com.metasv.client.openapi.ProgressRequestBody;
import com.metasv.client.openapi.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.metasv.client.openapi.model.SensibleFtBalance;
import com.metasv.client.openapi.model.SensibleFtUtxo;
import com.metasv.client.openapi.model.SensibleNftAddressSummary;
import com.metasv.client.openapi.model.SensibleNftAuctionUtxo;
import com.metasv.client.openapi.model.SensibleNftGenesisSummary;
import com.metasv.client.openapi.model.SensibleNftSellUtxo;
import com.metasv.client.openapi.model.SensibleNftSellV2Utxo;
import com.metasv.client.openapi.model.SensibleNftUtxo;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class SensibleApi {
    private ApiClient localVarApiClient;

    public SensibleApi() {
        this(Configuration.getDefaultApiClient());
    }

    public SensibleApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for sensibleFtAddressAddressBalanceConfirmedGet
     * @param address the requested address (required)
     * @param codeHash Filter by contract code hash (required)
     * @param genesis Filter by contract genesis (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible ft balances succes（ingore unconfirmed txs）. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call sensibleFtAddressAddressBalanceConfirmedGetCall(String address, String codeHash, String genesis, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/sensible/ft/address/{address}/balance/confirmed"
            .replaceAll("\\{" + "address" + "\\}", localVarApiClient.escapeString(address.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (codeHash != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("codeHash", codeHash));
        }

        if (genesis != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("genesis", genesis));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "bearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call sensibleFtAddressAddressBalanceConfirmedGetValidateBeforeCall(String address, String codeHash, String genesis, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'address' is set
        if (address == null) {
            throw new ApiException("Missing the required parameter 'address' when calling sensibleFtAddressAddressBalanceConfirmedGet(Async)");
        }
        
        // verify the required parameter 'codeHash' is set
        if (codeHash == null) {
            throw new ApiException("Missing the required parameter 'codeHash' when calling sensibleFtAddressAddressBalanceConfirmedGet(Async)");
        }
        
        // verify the required parameter 'genesis' is set
        if (genesis == null) {
            throw new ApiException("Missing the required parameter 'genesis' when calling sensibleFtAddressAddressBalanceConfirmedGet(Async)");
        }
        

        okhttp3.Call localVarCall = sensibleFtAddressAddressBalanceConfirmedGetCall(address, codeHash, genesis, _callback);
        return localVarCall;

    }

    /**
     * Get all sensible token balances for specific address ignoring all unconfirmed txs.
     * 
     * @param address the requested address (required)
     * @param codeHash Filter by contract code hash (required)
     * @param genesis Filter by contract genesis (required)
     * @return Long
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible ft balances succes（ingore unconfirmed txs）. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public Long sensibleFtAddressAddressBalanceConfirmedGet(String address, String codeHash, String genesis) throws ApiException {
        ApiResponse<Long> localVarResp = sensibleFtAddressAddressBalanceConfirmedGetWithHttpInfo(address, codeHash, genesis);
        return localVarResp.getData();
    }

    /**
     * Get all sensible token balances for specific address ignoring all unconfirmed txs.
     * 
     * @param address the requested address (required)
     * @param codeHash Filter by contract code hash (required)
     * @param genesis Filter by contract genesis (required)
     * @return ApiResponse&lt;Long&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible ft balances succes（ingore unconfirmed txs）. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Long> sensibleFtAddressAddressBalanceConfirmedGetWithHttpInfo(String address, String codeHash, String genesis) throws ApiException {
        okhttp3.Call localVarCall = sensibleFtAddressAddressBalanceConfirmedGetValidateBeforeCall(address, codeHash, genesis, null);
        Type localVarReturnType = new TypeToken<Long>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get all sensible token balances for specific address ignoring all unconfirmed txs. (asynchronously)
     * 
     * @param address the requested address (required)
     * @param codeHash Filter by contract code hash (required)
     * @param genesis Filter by contract genesis (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible ft balances succes（ingore unconfirmed txs）. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call sensibleFtAddressAddressBalanceConfirmedGetAsync(String address, String codeHash, String genesis, final ApiCallback<Long> _callback) throws ApiException {

        okhttp3.Call localVarCall = sensibleFtAddressAddressBalanceConfirmedGetValidateBeforeCall(address, codeHash, genesis, _callback);
        Type localVarReturnType = new TypeToken<Long>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for sensibleFtAddressAddressBalanceGet
     * @param address the requested address (required)
     * @param codeHash Filter by contract code hash (optional)
     * @param genesis Filter by contract genesis (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible ft balances success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call sensibleFtAddressAddressBalanceGetCall(String address, String codeHash, String genesis, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/sensible/ft/address/{address}/balance"
            .replaceAll("\\{" + "address" + "\\}", localVarApiClient.escapeString(address.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (codeHash != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("codeHash", codeHash));
        }

        if (genesis != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("genesis", genesis));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "bearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call sensibleFtAddressAddressBalanceGetValidateBeforeCall(String address, String codeHash, String genesis, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'address' is set
        if (address == null) {
            throw new ApiException("Missing the required parameter 'address' when calling sensibleFtAddressAddressBalanceGet(Async)");
        }
        

        okhttp3.Call localVarCall = sensibleFtAddressAddressBalanceGetCall(address, codeHash, genesis, _callback);
        return localVarCall;

    }

    /**
     * Get all sensible token balances for specific address.
     * 
     * @param address the requested address (required)
     * @param codeHash Filter by contract code hash (optional)
     * @param genesis Filter by contract genesis (optional)
     * @return List&lt;SensibleFtBalance&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible ft balances success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public List<SensibleFtBalance> sensibleFtAddressAddressBalanceGet(String address, String codeHash, String genesis) throws ApiException {
        ApiResponse<List<SensibleFtBalance>> localVarResp = sensibleFtAddressAddressBalanceGetWithHttpInfo(address, codeHash, genesis);
        return localVarResp.getData();
    }

    /**
     * Get all sensible token balances for specific address.
     * 
     * @param address the requested address (required)
     * @param codeHash Filter by contract code hash (optional)
     * @param genesis Filter by contract genesis (optional)
     * @return ApiResponse&lt;List&lt;SensibleFtBalance&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible ft balances success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<SensibleFtBalance>> sensibleFtAddressAddressBalanceGetWithHttpInfo(String address, String codeHash, String genesis) throws ApiException {
        okhttp3.Call localVarCall = sensibleFtAddressAddressBalanceGetValidateBeforeCall(address, codeHash, genesis, null);
        Type localVarReturnType = new TypeToken<List<SensibleFtBalance>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get all sensible token balances for specific address. (asynchronously)
     * 
     * @param address the requested address (required)
     * @param codeHash Filter by contract code hash (optional)
     * @param genesis Filter by contract genesis (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible ft balances success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call sensibleFtAddressAddressBalanceGetAsync(String address, String codeHash, String genesis, final ApiCallback<List<SensibleFtBalance>> _callback) throws ApiException {

        okhttp3.Call localVarCall = sensibleFtAddressAddressBalanceGetValidateBeforeCall(address, codeHash, genesis, _callback);
        Type localVarReturnType = new TypeToken<List<SensibleFtBalance>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for sensibleFtAddressAddressUtxoGet
     * @param address the requested address (required)
     * @param codeHash Filter by contract code hash (optional)
     * @param genesis Filter by contract genesis (optional)
     * @param flag The flag of the last query Item(Paging flag) (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible ft utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call sensibleFtAddressAddressUtxoGetCall(String address, String codeHash, String genesis, String flag, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/sensible/ft/address/{address}/utxo"
            .replaceAll("\\{" + "address" + "\\}", localVarApiClient.escapeString(address.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (codeHash != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("codeHash", codeHash));
        }

        if (genesis != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("genesis", genesis));
        }

        if (flag != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("flag", flag));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "bearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call sensibleFtAddressAddressUtxoGetValidateBeforeCall(String address, String codeHash, String genesis, String flag, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'address' is set
        if (address == null) {
            throw new ApiException("Missing the required parameter 'address' when calling sensibleFtAddressAddressUtxoGet(Async)");
        }
        

        okhttp3.Call localVarCall = sensibleFtAddressAddressUtxoGetCall(address, codeHash, genesis, flag, _callback);
        return localVarCall;

    }

    /**
     * Get all sensible token utxos for specific address.
     * 
     * @param address the requested address (required)
     * @param codeHash Filter by contract code hash (optional)
     * @param genesis Filter by contract genesis (optional)
     * @param flag The flag of the last query Item(Paging flag) (optional)
     * @return List&lt;SensibleFtUtxo&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible ft utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public List<SensibleFtUtxo> sensibleFtAddressAddressUtxoGet(String address, String codeHash, String genesis, String flag) throws ApiException {
        ApiResponse<List<SensibleFtUtxo>> localVarResp = sensibleFtAddressAddressUtxoGetWithHttpInfo(address, codeHash, genesis, flag);
        return localVarResp.getData();
    }

    /**
     * Get all sensible token utxos for specific address.
     * 
     * @param address the requested address (required)
     * @param codeHash Filter by contract code hash (optional)
     * @param genesis Filter by contract genesis (optional)
     * @param flag The flag of the last query Item(Paging flag) (optional)
     * @return ApiResponse&lt;List&lt;SensibleFtUtxo&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible ft utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<SensibleFtUtxo>> sensibleFtAddressAddressUtxoGetWithHttpInfo(String address, String codeHash, String genesis, String flag) throws ApiException {
        okhttp3.Call localVarCall = sensibleFtAddressAddressUtxoGetValidateBeforeCall(address, codeHash, genesis, flag, null);
        Type localVarReturnType = new TypeToken<List<SensibleFtUtxo>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get all sensible token utxos for specific address. (asynchronously)
     * 
     * @param address the requested address (required)
     * @param codeHash Filter by contract code hash (optional)
     * @param genesis Filter by contract genesis (optional)
     * @param flag The flag of the last query Item(Paging flag) (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible ft utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call sensibleFtAddressAddressUtxoGetAsync(String address, String codeHash, String genesis, String flag, final ApiCallback<List<SensibleFtUtxo>> _callback) throws ApiException {

        okhttp3.Call localVarCall = sensibleFtAddressAddressUtxoGetValidateBeforeCall(address, codeHash, genesis, flag, _callback);
        Type localVarReturnType = new TypeToken<List<SensibleFtUtxo>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for sensibleNftAddressAddressCountConfirmedGet
     * @param address the requested address (required)
     * @param codeHash Filter by contract code hash (required)
     * @param genesis Filter by contract genesis (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call sensibleNftAddressAddressCountConfirmedGetCall(String address, String codeHash, String genesis, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/sensible/nft/address/{address}/count/confirmed"
            .replaceAll("\\{" + "address" + "\\}", localVarApiClient.escapeString(address.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (codeHash != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("codeHash", codeHash));
        }

        if (genesis != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("genesis", genesis));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "bearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call sensibleNftAddressAddressCountConfirmedGetValidateBeforeCall(String address, String codeHash, String genesis, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'address' is set
        if (address == null) {
            throw new ApiException("Missing the required parameter 'address' when calling sensibleNftAddressAddressCountConfirmedGet(Async)");
        }
        
        // verify the required parameter 'codeHash' is set
        if (codeHash == null) {
            throw new ApiException("Missing the required parameter 'codeHash' when calling sensibleNftAddressAddressCountConfirmedGet(Async)");
        }
        
        // verify the required parameter 'genesis' is set
        if (genesis == null) {
            throw new ApiException("Missing the required parameter 'genesis' when calling sensibleNftAddressAddressCountConfirmedGet(Async)");
        }
        

        okhttp3.Call localVarCall = sensibleNftAddressAddressCountConfirmedGetCall(address, codeHash, genesis, _callback);
        return localVarCall;

    }

    /**
     * Get confirmed utxo count for specific nft(ignore all unconfirmed txs).
     * 
     * @param address the requested address (required)
     * @param codeHash Filter by contract code hash (required)
     * @param genesis Filter by contract genesis (required)
     * @return Integer
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public Integer sensibleNftAddressAddressCountConfirmedGet(String address, String codeHash, String genesis) throws ApiException {
        ApiResponse<Integer> localVarResp = sensibleNftAddressAddressCountConfirmedGetWithHttpInfo(address, codeHash, genesis);
        return localVarResp.getData();
    }

    /**
     * Get confirmed utxo count for specific nft(ignore all unconfirmed txs).
     * 
     * @param address the requested address (required)
     * @param codeHash Filter by contract code hash (required)
     * @param genesis Filter by contract genesis (required)
     * @return ApiResponse&lt;Integer&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Integer> sensibleNftAddressAddressCountConfirmedGetWithHttpInfo(String address, String codeHash, String genesis) throws ApiException {
        okhttp3.Call localVarCall = sensibleNftAddressAddressCountConfirmedGetValidateBeforeCall(address, codeHash, genesis, null);
        Type localVarReturnType = new TypeToken<Integer>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get confirmed utxo count for specific nft(ignore all unconfirmed txs). (asynchronously)
     * 
     * @param address the requested address (required)
     * @param codeHash Filter by contract code hash (required)
     * @param genesis Filter by contract genesis (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call sensibleNftAddressAddressCountConfirmedGetAsync(String address, String codeHash, String genesis, final ApiCallback<Integer> _callback) throws ApiException {

        okhttp3.Call localVarCall = sensibleNftAddressAddressCountConfirmedGetValidateBeforeCall(address, codeHash, genesis, _callback);
        Type localVarReturnType = new TypeToken<Integer>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for sensibleNftAddressAddressSummaryGet
     * @param address the requested address (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call sensibleNftAddressAddressSummaryGetCall(String address, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/sensible/nft/address/{address}/summary"
            .replaceAll("\\{" + "address" + "\\}", localVarApiClient.escapeString(address.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "bearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call sensibleNftAddressAddressSummaryGetValidateBeforeCall(String address, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'address' is set
        if (address == null) {
            throw new ApiException("Missing the required parameter 'address' when calling sensibleNftAddressAddressSummaryGet(Async)");
        }
        

        okhttp3.Call localVarCall = sensibleNftAddressAddressSummaryGetCall(address, _callback);
        return localVarCall;

    }

    /**
     * Get nft summary(NFT count group by genesis) for address.
     * 
     * @param address the requested address (required)
     * @return List&lt;SensibleNftAddressSummary&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public List<SensibleNftAddressSummary> sensibleNftAddressAddressSummaryGet(String address) throws ApiException {
        ApiResponse<List<SensibleNftAddressSummary>> localVarResp = sensibleNftAddressAddressSummaryGetWithHttpInfo(address);
        return localVarResp.getData();
    }

    /**
     * Get nft summary(NFT count group by genesis) for address.
     * 
     * @param address the requested address (required)
     * @return ApiResponse&lt;List&lt;SensibleNftAddressSummary&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<SensibleNftAddressSummary>> sensibleNftAddressAddressSummaryGetWithHttpInfo(String address) throws ApiException {
        okhttp3.Call localVarCall = sensibleNftAddressAddressSummaryGetValidateBeforeCall(address, null);
        Type localVarReturnType = new TypeToken<List<SensibleNftAddressSummary>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get nft summary(NFT count group by genesis) for address. (asynchronously)
     * 
     * @param address the requested address (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call sensibleNftAddressAddressSummaryGetAsync(String address, final ApiCallback<List<SensibleNftAddressSummary>> _callback) throws ApiException {

        okhttp3.Call localVarCall = sensibleNftAddressAddressSummaryGetValidateBeforeCall(address, _callback);
        Type localVarReturnType = new TypeToken<List<SensibleNftAddressSummary>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for sensibleNftAddressAddressUtxoGet
     * @param address the requested address (required)
     * @param codeHash Filter by contract code hash (optional)
     * @param genesis Filter by contract genesis (optional)
     * @param flag The flag of the last query Item(Paging flag) (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call sensibleNftAddressAddressUtxoGetCall(String address, String codeHash, String genesis, String flag, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/sensible/nft/address/{address}/utxo"
            .replaceAll("\\{" + "address" + "\\}", localVarApiClient.escapeString(address.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (codeHash != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("codeHash", codeHash));
        }

        if (genesis != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("genesis", genesis));
        }

        if (flag != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("flag", flag));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "bearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call sensibleNftAddressAddressUtxoGetValidateBeforeCall(String address, String codeHash, String genesis, String flag, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'address' is set
        if (address == null) {
            throw new ApiException("Missing the required parameter 'address' when calling sensibleNftAddressAddressUtxoGet(Async)");
        }
        

        okhttp3.Call localVarCall = sensibleNftAddressAddressUtxoGetCall(address, codeHash, genesis, flag, _callback);
        return localVarCall;

    }

    /**
     * Get all sensible nft token utxos for specific address.
     * 
     * @param address the requested address (required)
     * @param codeHash Filter by contract code hash (optional)
     * @param genesis Filter by contract genesis (optional)
     * @param flag The flag of the last query Item(Paging flag) (optional)
     * @return List&lt;SensibleNftUtxo&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public List<SensibleNftUtxo> sensibleNftAddressAddressUtxoGet(String address, String codeHash, String genesis, String flag) throws ApiException {
        ApiResponse<List<SensibleNftUtxo>> localVarResp = sensibleNftAddressAddressUtxoGetWithHttpInfo(address, codeHash, genesis, flag);
        return localVarResp.getData();
    }

    /**
     * Get all sensible nft token utxos for specific address.
     * 
     * @param address the requested address (required)
     * @param codeHash Filter by contract code hash (optional)
     * @param genesis Filter by contract genesis (optional)
     * @param flag The flag of the last query Item(Paging flag) (optional)
     * @return ApiResponse&lt;List&lt;SensibleNftUtxo&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<SensibleNftUtxo>> sensibleNftAddressAddressUtxoGetWithHttpInfo(String address, String codeHash, String genesis, String flag) throws ApiException {
        okhttp3.Call localVarCall = sensibleNftAddressAddressUtxoGetValidateBeforeCall(address, codeHash, genesis, flag, null);
        Type localVarReturnType = new TypeToken<List<SensibleNftUtxo>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get all sensible nft token utxos for specific address. (asynchronously)
     * 
     * @param address the requested address (required)
     * @param codeHash Filter by contract code hash (optional)
     * @param genesis Filter by contract genesis (optional)
     * @param flag The flag of the last query Item(Paging flag) (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call sensibleNftAddressAddressUtxoGetAsync(String address, String codeHash, String genesis, String flag, final ApiCallback<List<SensibleNftUtxo>> _callback) throws ApiException {

        okhttp3.Call localVarCall = sensibleNftAddressAddressUtxoGetValidateBeforeCall(address, codeHash, genesis, flag, _callback);
        Type localVarReturnType = new TypeToken<List<SensibleNftUtxo>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for sensibleNftAuctionCodeHashCodeHashNftIdNftIdUtxoGet
     * @param codeHash Code hash of the token. (required)
     * @param nftId Nft id of this auction. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft sell utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call sensibleNftAuctionCodeHashCodeHashNftIdNftIdUtxoGetCall(String codeHash, String nftId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/sensible/nft/auction/codeHash/{codeHash}/nftId/{nftId}/utxo"
            .replaceAll("\\{" + "codeHash" + "\\}", localVarApiClient.escapeString(codeHash.toString()))
            .replaceAll("\\{" + "nftId" + "\\}", localVarApiClient.escapeString(nftId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "bearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call sensibleNftAuctionCodeHashCodeHashNftIdNftIdUtxoGetValidateBeforeCall(String codeHash, String nftId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'codeHash' is set
        if (codeHash == null) {
            throw new ApiException("Missing the required parameter 'codeHash' when calling sensibleNftAuctionCodeHashCodeHashNftIdNftIdUtxoGet(Async)");
        }
        
        // verify the required parameter 'nftId' is set
        if (nftId == null) {
            throw new ApiException("Missing the required parameter 'nftId' when calling sensibleNftAuctionCodeHashCodeHashNftIdNftIdUtxoGet(Async)");
        }
        

        okhttp3.Call localVarCall = sensibleNftAuctionCodeHashCodeHashNftIdNftIdUtxoGetCall(codeHash, nftId, _callback);
        return localVarCall;

    }

    /**
     * Get all sensible nft token utxos by codeHash and genesisId.
     * 
     * @param codeHash Code hash of the token. (required)
     * @param nftId Nft id of this auction. (required)
     * @return List&lt;SensibleNftAuctionUtxo&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft sell utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public List<SensibleNftAuctionUtxo> sensibleNftAuctionCodeHashCodeHashNftIdNftIdUtxoGet(String codeHash, String nftId) throws ApiException {
        ApiResponse<List<SensibleNftAuctionUtxo>> localVarResp = sensibleNftAuctionCodeHashCodeHashNftIdNftIdUtxoGetWithHttpInfo(codeHash, nftId);
        return localVarResp.getData();
    }

    /**
     * Get all sensible nft token utxos by codeHash and genesisId.
     * 
     * @param codeHash Code hash of the token. (required)
     * @param nftId Nft id of this auction. (required)
     * @return ApiResponse&lt;List&lt;SensibleNftAuctionUtxo&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft sell utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<SensibleNftAuctionUtxo>> sensibleNftAuctionCodeHashCodeHashNftIdNftIdUtxoGetWithHttpInfo(String codeHash, String nftId) throws ApiException {
        okhttp3.Call localVarCall = sensibleNftAuctionCodeHashCodeHashNftIdNftIdUtxoGetValidateBeforeCall(codeHash, nftId, null);
        Type localVarReturnType = new TypeToken<List<SensibleNftAuctionUtxo>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get all sensible nft token utxos by codeHash and genesisId. (asynchronously)
     * 
     * @param codeHash Code hash of the token. (required)
     * @param nftId Nft id of this auction. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft sell utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call sensibleNftAuctionCodeHashCodeHashNftIdNftIdUtxoGetAsync(String codeHash, String nftId, final ApiCallback<List<SensibleNftAuctionUtxo>> _callback) throws ApiException {

        okhttp3.Call localVarCall = sensibleNftAuctionCodeHashCodeHashNftIdNftIdUtxoGetValidateBeforeCall(codeHash, nftId, _callback);
        Type localVarReturnType = new TypeToken<List<SensibleNftAuctionUtxo>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for sensibleNftGenesisCodeHashGenesisSummaryGet
     * @param codeHash Code hash of the token. (required)
     * @param genesis Contract genesis (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft utxo success(result cached for 60s).. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call sensibleNftGenesisCodeHashGenesisSummaryGetCall(String codeHash, String genesis, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/sensible/nft/genesis/{codeHash}/{genesis}/summary"
            .replaceAll("\\{" + "codeHash" + "\\}", localVarApiClient.escapeString(codeHash.toString()))
            .replaceAll("\\{" + "genesis" + "\\}", localVarApiClient.escapeString(genesis.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "bearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call sensibleNftGenesisCodeHashGenesisSummaryGetValidateBeforeCall(String codeHash, String genesis, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'codeHash' is set
        if (codeHash == null) {
            throw new ApiException("Missing the required parameter 'codeHash' when calling sensibleNftGenesisCodeHashGenesisSummaryGet(Async)");
        }
        
        // verify the required parameter 'genesis' is set
        if (genesis == null) {
            throw new ApiException("Missing the required parameter 'genesis' when calling sensibleNftGenesisCodeHashGenesisSummaryGet(Async)");
        }
        

        okhttp3.Call localVarCall = sensibleNftGenesisCodeHashGenesisSummaryGetCall(codeHash, genesis, _callback);
        return localVarCall;

    }

    /**
     * Get nft summary(count group by address) for specific codeHash and genesisId(result cached for 60s).
     * 
     * @param codeHash Code hash of the token. (required)
     * @param genesis Contract genesis (required)
     * @return List&lt;SensibleNftGenesisSummary&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft utxo success(result cached for 60s).. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public List<SensibleNftGenesisSummary> sensibleNftGenesisCodeHashGenesisSummaryGet(String codeHash, String genesis) throws ApiException {
        ApiResponse<List<SensibleNftGenesisSummary>> localVarResp = sensibleNftGenesisCodeHashGenesisSummaryGetWithHttpInfo(codeHash, genesis);
        return localVarResp.getData();
    }

    /**
     * Get nft summary(count group by address) for specific codeHash and genesisId(result cached for 60s).
     * 
     * @param codeHash Code hash of the token. (required)
     * @param genesis Contract genesis (required)
     * @return ApiResponse&lt;List&lt;SensibleNftGenesisSummary&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft utxo success(result cached for 60s).. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<SensibleNftGenesisSummary>> sensibleNftGenesisCodeHashGenesisSummaryGetWithHttpInfo(String codeHash, String genesis) throws ApiException {
        okhttp3.Call localVarCall = sensibleNftGenesisCodeHashGenesisSummaryGetValidateBeforeCall(codeHash, genesis, null);
        Type localVarReturnType = new TypeToken<List<SensibleNftGenesisSummary>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get nft summary(count group by address) for specific codeHash and genesisId(result cached for 60s). (asynchronously)
     * 
     * @param codeHash Code hash of the token. (required)
     * @param genesis Contract genesis (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft utxo success(result cached for 60s).. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call sensibleNftGenesisCodeHashGenesisSummaryGetAsync(String codeHash, String genesis, final ApiCallback<List<SensibleNftGenesisSummary>> _callback) throws ApiException {

        okhttp3.Call localVarCall = sensibleNftGenesisCodeHashGenesisSummaryGetValidateBeforeCall(codeHash, genesis, _callback);
        Type localVarReturnType = new TypeToken<List<SensibleNftGenesisSummary>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for sensibleNftGenesisCodeHashGenesisUtxoGet
     * @param codeHash Code hash of the token. (required)
     * @param genesis Contract genesis (required)
     * @param tokenIndex Find exact token Index. (optional)
     * @param max Token index not bigger than this(include this). (optional)
     * @param min Token index not less than this(include this). (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call sensibleNftGenesisCodeHashGenesisUtxoGetCall(String codeHash, String genesis, Long tokenIndex, Long max, Long min, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/sensible/nft/genesis/{codeHash}/{genesis}/utxo"
            .replaceAll("\\{" + "codeHash" + "\\}", localVarApiClient.escapeString(codeHash.toString()))
            .replaceAll("\\{" + "genesis" + "\\}", localVarApiClient.escapeString(genesis.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (tokenIndex != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("tokenIndex", tokenIndex));
        }

        if (max != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("max", max));
        }

        if (min != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("min", min));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "bearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call sensibleNftGenesisCodeHashGenesisUtxoGetValidateBeforeCall(String codeHash, String genesis, Long tokenIndex, Long max, Long min, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'codeHash' is set
        if (codeHash == null) {
            throw new ApiException("Missing the required parameter 'codeHash' when calling sensibleNftGenesisCodeHashGenesisUtxoGet(Async)");
        }
        
        // verify the required parameter 'genesis' is set
        if (genesis == null) {
            throw new ApiException("Missing the required parameter 'genesis' when calling sensibleNftGenesisCodeHashGenesisUtxoGet(Async)");
        }
        

        okhttp3.Call localVarCall = sensibleNftGenesisCodeHashGenesisUtxoGetCall(codeHash, genesis, tokenIndex, max, min, _callback);
        return localVarCall;

    }

    /**
     * Get all sensible nft token utxos by codeHash and genesisId.
     * 
     * @param codeHash Code hash of the token. (required)
     * @param genesis Contract genesis (required)
     * @param tokenIndex Find exact token Index. (optional)
     * @param max Token index not bigger than this(include this). (optional)
     * @param min Token index not less than this(include this). (optional)
     * @return List&lt;SensibleNftUtxo&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public List<SensibleNftUtxo> sensibleNftGenesisCodeHashGenesisUtxoGet(String codeHash, String genesis, Long tokenIndex, Long max, Long min) throws ApiException {
        ApiResponse<List<SensibleNftUtxo>> localVarResp = sensibleNftGenesisCodeHashGenesisUtxoGetWithHttpInfo(codeHash, genesis, tokenIndex, max, min);
        return localVarResp.getData();
    }

    /**
     * Get all sensible nft token utxos by codeHash and genesisId.
     * 
     * @param codeHash Code hash of the token. (required)
     * @param genesis Contract genesis (required)
     * @param tokenIndex Find exact token Index. (optional)
     * @param max Token index not bigger than this(include this). (optional)
     * @param min Token index not less than this(include this). (optional)
     * @return ApiResponse&lt;List&lt;SensibleNftUtxo&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<SensibleNftUtxo>> sensibleNftGenesisCodeHashGenesisUtxoGetWithHttpInfo(String codeHash, String genesis, Long tokenIndex, Long max, Long min) throws ApiException {
        okhttp3.Call localVarCall = sensibleNftGenesisCodeHashGenesisUtxoGetValidateBeforeCall(codeHash, genesis, tokenIndex, max, min, null);
        Type localVarReturnType = new TypeToken<List<SensibleNftUtxo>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get all sensible nft token utxos by codeHash and genesisId. (asynchronously)
     * 
     * @param codeHash Code hash of the token. (required)
     * @param genesis Contract genesis (required)
     * @param tokenIndex Find exact token Index. (optional)
     * @param max Token index not bigger than this(include this). (optional)
     * @param min Token index not less than this(include this). (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call sensibleNftGenesisCodeHashGenesisUtxoGetAsync(String codeHash, String genesis, Long tokenIndex, Long max, Long min, final ApiCallback<List<SensibleNftUtxo>> _callback) throws ApiException {

        okhttp3.Call localVarCall = sensibleNftGenesisCodeHashGenesisUtxoGetValidateBeforeCall(codeHash, genesis, tokenIndex, max, min, _callback);
        Type localVarReturnType = new TypeToken<List<SensibleNftUtxo>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for sensibleNftSellAddressAddressUtxoGet
     * @param address Owner address. (required)
     * @param codeHash Filter by contract code hash (optional)
     * @param genesis Filter by contract genesis (optional)
     * @param flag The flag of the last query Item(Paging flag) (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft sell utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call sensibleNftSellAddressAddressUtxoGetCall(String address, String codeHash, String genesis, String flag, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/sensible/nft/sell/address/{address}/utxo"
            .replaceAll("\\{" + "address" + "\\}", localVarApiClient.escapeString(address.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (codeHash != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("codeHash", codeHash));
        }

        if (genesis != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("genesis", genesis));
        }

        if (flag != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("flag", flag));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "bearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call sensibleNftSellAddressAddressUtxoGetValidateBeforeCall(String address, String codeHash, String genesis, String flag, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'address' is set
        if (address == null) {
            throw new ApiException("Missing the required parameter 'address' when calling sensibleNftSellAddressAddressUtxoGet(Async)");
        }
        

        okhttp3.Call localVarCall = sensibleNftSellAddressAddressUtxoGetCall(address, codeHash, genesis, flag, _callback);
        return localVarCall;

    }

    /**
     * Get all sensible sell sell utxos for specific address.
     * 
     * @param address Owner address. (required)
     * @param codeHash Filter by contract code hash (optional)
     * @param genesis Filter by contract genesis (optional)
     * @param flag The flag of the last query Item(Paging flag) (optional)
     * @return List&lt;SensibleNftSellUtxo&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft sell utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public List<SensibleNftSellUtxo> sensibleNftSellAddressAddressUtxoGet(String address, String codeHash, String genesis, String flag) throws ApiException {
        ApiResponse<List<SensibleNftSellUtxo>> localVarResp = sensibleNftSellAddressAddressUtxoGetWithHttpInfo(address, codeHash, genesis, flag);
        return localVarResp.getData();
    }

    /**
     * Get all sensible sell sell utxos for specific address.
     * 
     * @param address Owner address. (required)
     * @param codeHash Filter by contract code hash (optional)
     * @param genesis Filter by contract genesis (optional)
     * @param flag The flag of the last query Item(Paging flag) (optional)
     * @return ApiResponse&lt;List&lt;SensibleNftSellUtxo&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft sell utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<SensibleNftSellUtxo>> sensibleNftSellAddressAddressUtxoGetWithHttpInfo(String address, String codeHash, String genesis, String flag) throws ApiException {
        okhttp3.Call localVarCall = sensibleNftSellAddressAddressUtxoGetValidateBeforeCall(address, codeHash, genesis, flag, null);
        Type localVarReturnType = new TypeToken<List<SensibleNftSellUtxo>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get all sensible sell sell utxos for specific address. (asynchronously)
     * 
     * @param address Owner address. (required)
     * @param codeHash Filter by contract code hash (optional)
     * @param genesis Filter by contract genesis (optional)
     * @param flag The flag of the last query Item(Paging flag) (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft sell utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call sensibleNftSellAddressAddressUtxoGetAsync(String address, String codeHash, String genesis, String flag, final ApiCallback<List<SensibleNftSellUtxo>> _callback) throws ApiException {

        okhttp3.Call localVarCall = sensibleNftSellAddressAddressUtxoGetValidateBeforeCall(address, codeHash, genesis, flag, _callback);
        Type localVarReturnType = new TypeToken<List<SensibleNftSellUtxo>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for sensibleNftSellGenesisCodeHashGenesisUtxoGet
     * @param codeHash Code hash of the token. (required)
     * @param genesis Contract genesis (required)
     * @param tokenIndex Find exact token Index. (optional)
     * @param max Token index not bigger than this(include this). (optional)
     * @param min Token index not less than this(include this). (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft sell utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call sensibleNftSellGenesisCodeHashGenesisUtxoGetCall(String codeHash, String genesis, Long tokenIndex, Long max, Long min, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/sensible/nft/sell/genesis/{codeHash}/{genesis}/utxo"
            .replaceAll("\\{" + "codeHash" + "\\}", localVarApiClient.escapeString(codeHash.toString()))
            .replaceAll("\\{" + "genesis" + "\\}", localVarApiClient.escapeString(genesis.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (tokenIndex != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("tokenIndex", tokenIndex));
        }

        if (max != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("max", max));
        }

        if (min != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("min", min));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "bearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call sensibleNftSellGenesisCodeHashGenesisUtxoGetValidateBeforeCall(String codeHash, String genesis, Long tokenIndex, Long max, Long min, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'codeHash' is set
        if (codeHash == null) {
            throw new ApiException("Missing the required parameter 'codeHash' when calling sensibleNftSellGenesisCodeHashGenesisUtxoGet(Async)");
        }
        
        // verify the required parameter 'genesis' is set
        if (genesis == null) {
            throw new ApiException("Missing the required parameter 'genesis' when calling sensibleNftSellGenesisCodeHashGenesisUtxoGet(Async)");
        }
        

        okhttp3.Call localVarCall = sensibleNftSellGenesisCodeHashGenesisUtxoGetCall(codeHash, genesis, tokenIndex, max, min, _callback);
        return localVarCall;

    }

    /**
     * Get all sensible nft token utxos by codeHash and genesisId.
     * 
     * @param codeHash Code hash of the token. (required)
     * @param genesis Contract genesis (required)
     * @param tokenIndex Find exact token Index. (optional)
     * @param max Token index not bigger than this(include this). (optional)
     * @param min Token index not less than this(include this). (optional)
     * @return List&lt;SensibleNftSellUtxo&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft sell utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public List<SensibleNftSellUtxo> sensibleNftSellGenesisCodeHashGenesisUtxoGet(String codeHash, String genesis, Long tokenIndex, Long max, Long min) throws ApiException {
        ApiResponse<List<SensibleNftSellUtxo>> localVarResp = sensibleNftSellGenesisCodeHashGenesisUtxoGetWithHttpInfo(codeHash, genesis, tokenIndex, max, min);
        return localVarResp.getData();
    }

    /**
     * Get all sensible nft token utxos by codeHash and genesisId.
     * 
     * @param codeHash Code hash of the token. (required)
     * @param genesis Contract genesis (required)
     * @param tokenIndex Find exact token Index. (optional)
     * @param max Token index not bigger than this(include this). (optional)
     * @param min Token index not less than this(include this). (optional)
     * @return ApiResponse&lt;List&lt;SensibleNftSellUtxo&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft sell utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<SensibleNftSellUtxo>> sensibleNftSellGenesisCodeHashGenesisUtxoGetWithHttpInfo(String codeHash, String genesis, Long tokenIndex, Long max, Long min) throws ApiException {
        okhttp3.Call localVarCall = sensibleNftSellGenesisCodeHashGenesisUtxoGetValidateBeforeCall(codeHash, genesis, tokenIndex, max, min, null);
        Type localVarReturnType = new TypeToken<List<SensibleNftSellUtxo>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get all sensible nft token utxos by codeHash and genesisId. (asynchronously)
     * 
     * @param codeHash Code hash of the token. (required)
     * @param genesis Contract genesis (required)
     * @param tokenIndex Find exact token Index. (optional)
     * @param max Token index not bigger than this(include this). (optional)
     * @param min Token index not less than this(include this). (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft sell utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call sensibleNftSellGenesisCodeHashGenesisUtxoGetAsync(String codeHash, String genesis, Long tokenIndex, Long max, Long min, final ApiCallback<List<SensibleNftSellUtxo>> _callback) throws ApiException {

        okhttp3.Call localVarCall = sensibleNftSellGenesisCodeHashGenesisUtxoGetValidateBeforeCall(codeHash, genesis, tokenIndex, max, min, _callback);
        Type localVarReturnType = new TypeToken<List<SensibleNftSellUtxo>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for sensibleNftSellV2AddressAddressUtxoGet
     * @param address Owner address. (required)
     * @param codeHash Filter by contract code hash (optional)
     * @param genesis Filter by contract genesis (optional)
     * @param flag The flag of the last query Item(Paging flag) (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft sell utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call sensibleNftSellV2AddressAddressUtxoGetCall(String address, String codeHash, String genesis, String flag, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/sensible/nft/sellV2/address/{address}/utxo"
            .replaceAll("\\{" + "address" + "\\}", localVarApiClient.escapeString(address.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (codeHash != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("codeHash", codeHash));
        }

        if (genesis != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("genesis", genesis));
        }

        if (flag != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("flag", flag));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "bearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call sensibleNftSellV2AddressAddressUtxoGetValidateBeforeCall(String address, String codeHash, String genesis, String flag, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'address' is set
        if (address == null) {
            throw new ApiException("Missing the required parameter 'address' when calling sensibleNftSellV2AddressAddressUtxoGet(Async)");
        }
        

        okhttp3.Call localVarCall = sensibleNftSellV2AddressAddressUtxoGetCall(address, codeHash, genesis, flag, _callback);
        return localVarCall;

    }

    /**
     * Get all sensible sell sell utxos for specific address.
     * 
     * @param address Owner address. (required)
     * @param codeHash Filter by contract code hash (optional)
     * @param genesis Filter by contract genesis (optional)
     * @param flag The flag of the last query Item(Paging flag) (optional)
     * @return List&lt;SensibleNftSellV2Utxo&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft sell utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public List<SensibleNftSellV2Utxo> sensibleNftSellV2AddressAddressUtxoGet(String address, String codeHash, String genesis, String flag) throws ApiException {
        ApiResponse<List<SensibleNftSellV2Utxo>> localVarResp = sensibleNftSellV2AddressAddressUtxoGetWithHttpInfo(address, codeHash, genesis, flag);
        return localVarResp.getData();
    }

    /**
     * Get all sensible sell sell utxos for specific address.
     * 
     * @param address Owner address. (required)
     * @param codeHash Filter by contract code hash (optional)
     * @param genesis Filter by contract genesis (optional)
     * @param flag The flag of the last query Item(Paging flag) (optional)
     * @return ApiResponse&lt;List&lt;SensibleNftSellV2Utxo&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft sell utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<SensibleNftSellV2Utxo>> sensibleNftSellV2AddressAddressUtxoGetWithHttpInfo(String address, String codeHash, String genesis, String flag) throws ApiException {
        okhttp3.Call localVarCall = sensibleNftSellV2AddressAddressUtxoGetValidateBeforeCall(address, codeHash, genesis, flag, null);
        Type localVarReturnType = new TypeToken<List<SensibleNftSellV2Utxo>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get all sensible sell sell utxos for specific address. (asynchronously)
     * 
     * @param address Owner address. (required)
     * @param codeHash Filter by contract code hash (optional)
     * @param genesis Filter by contract genesis (optional)
     * @param flag The flag of the last query Item(Paging flag) (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft sell utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call sensibleNftSellV2AddressAddressUtxoGetAsync(String address, String codeHash, String genesis, String flag, final ApiCallback<List<SensibleNftSellV2Utxo>> _callback) throws ApiException {

        okhttp3.Call localVarCall = sensibleNftSellV2AddressAddressUtxoGetValidateBeforeCall(address, codeHash, genesis, flag, _callback);
        Type localVarReturnType = new TypeToken<List<SensibleNftSellV2Utxo>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for sensibleNftSellV2GenesisCodeHashGenesisUtxoGet
     * @param codeHash Code hash of the token. (required)
     * @param genesis Contract genesis (required)
     * @param tokenIndex Find exact token Index. (optional)
     * @param max Token index not bigger than this(include this). (optional)
     * @param min Token index not less than this(include this). (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft sell utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call sensibleNftSellV2GenesisCodeHashGenesisUtxoGetCall(String codeHash, String genesis, Long tokenIndex, Long max, Long min, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/sensible/nft/sellV2/genesis/{codeHash}/{genesis}/utxo"
            .replaceAll("\\{" + "codeHash" + "\\}", localVarApiClient.escapeString(codeHash.toString()))
            .replaceAll("\\{" + "genesis" + "\\}", localVarApiClient.escapeString(genesis.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (tokenIndex != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("tokenIndex", tokenIndex));
        }

        if (max != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("max", max));
        }

        if (min != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("min", min));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "bearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call sensibleNftSellV2GenesisCodeHashGenesisUtxoGetValidateBeforeCall(String codeHash, String genesis, Long tokenIndex, Long max, Long min, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'codeHash' is set
        if (codeHash == null) {
            throw new ApiException("Missing the required parameter 'codeHash' when calling sensibleNftSellV2GenesisCodeHashGenesisUtxoGet(Async)");
        }
        
        // verify the required parameter 'genesis' is set
        if (genesis == null) {
            throw new ApiException("Missing the required parameter 'genesis' when calling sensibleNftSellV2GenesisCodeHashGenesisUtxoGet(Async)");
        }
        

        okhttp3.Call localVarCall = sensibleNftSellV2GenesisCodeHashGenesisUtxoGetCall(codeHash, genesis, tokenIndex, max, min, _callback);
        return localVarCall;

    }

    /**
     * Get all sensible nft token utxos by codeHash and genesisId.
     * 
     * @param codeHash Code hash of the token. (required)
     * @param genesis Contract genesis (required)
     * @param tokenIndex Find exact token Index. (optional)
     * @param max Token index not bigger than this(include this). (optional)
     * @param min Token index not less than this(include this). (optional)
     * @return List&lt;SensibleNftSellV2Utxo&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft sell utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public List<SensibleNftSellV2Utxo> sensibleNftSellV2GenesisCodeHashGenesisUtxoGet(String codeHash, String genesis, Long tokenIndex, Long max, Long min) throws ApiException {
        ApiResponse<List<SensibleNftSellV2Utxo>> localVarResp = sensibleNftSellV2GenesisCodeHashGenesisUtxoGetWithHttpInfo(codeHash, genesis, tokenIndex, max, min);
        return localVarResp.getData();
    }

    /**
     * Get all sensible nft token utxos by codeHash and genesisId.
     * 
     * @param codeHash Code hash of the token. (required)
     * @param genesis Contract genesis (required)
     * @param tokenIndex Find exact token Index. (optional)
     * @param max Token index not bigger than this(include this). (optional)
     * @param min Token index not less than this(include this). (optional)
     * @return ApiResponse&lt;List&lt;SensibleNftSellV2Utxo&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft sell utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<SensibleNftSellV2Utxo>> sensibleNftSellV2GenesisCodeHashGenesisUtxoGetWithHttpInfo(String codeHash, String genesis, Long tokenIndex, Long max, Long min) throws ApiException {
        okhttp3.Call localVarCall = sensibleNftSellV2GenesisCodeHashGenesisUtxoGetValidateBeforeCall(codeHash, genesis, tokenIndex, max, min, null);
        Type localVarReturnType = new TypeToken<List<SensibleNftSellV2Utxo>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get all sensible nft token utxos by codeHash and genesisId. (asynchronously)
     * 
     * @param codeHash Code hash of the token. (required)
     * @param genesis Contract genesis (required)
     * @param tokenIndex Find exact token Index. (optional)
     * @param max Token index not bigger than this(include this). (optional)
     * @param min Token index not less than this(include this). (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get sensible nft sell utxo success. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call sensibleNftSellV2GenesisCodeHashGenesisUtxoGetAsync(String codeHash, String genesis, Long tokenIndex, Long max, Long min, final ApiCallback<List<SensibleNftSellV2Utxo>> _callback) throws ApiException {

        okhttp3.Call localVarCall = sensibleNftSellV2GenesisCodeHashGenesisUtxoGetValidateBeforeCall(codeHash, genesis, tokenIndex, max, min, _callback);
        Type localVarReturnType = new TypeToken<List<SensibleNftSellV2Utxo>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
